<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="acquisition-call_back-<%%VALUE(id)%%>" class=""><%%VALUE(call_back)%%></td>
		<td id="acquisition-seller_name-<%%VALUE(id)%%>" class="text-center"><%%VALUE(seller_name)%%></td>
		<td id="acquisition-phone-<%%VALUE(id)%%>" class="text-center"><%%VALUE(phone)%%></td>
		<td id="acquisition-purchase_notes-<%%VALUE(id)%%>" class=""><%%VALUE(purchase_notes)%%></td>
		<td id="acquisition-priority-<%%VALUE(id)%%>" class="text-center"><%%VALUE(priority)%%></td>
		<td id="acquisition-location_city-<%%VALUE(id)%%>" class=""><%%VALUE(location_city)%%></td>
		<td id="acquisition-pickup_date-<%%VALUE(id)%%>" class=""><%%VALUE(pickup_date)%%></td>
		<td id="acquisition-pickup_time-<%%VALUE(id)%%>" class=""><%%VALUE(pickup_time)%%></td>
		<td id="acquisition-category-<%%VALUE(id)%%>" class=""><%%VALUE(category)%%></td>
		<td id="acquisition-photo_1-<%%VALUE(id)%%>" class="text-center"><a href="<%%TRANSLATION(ImageFolder)%%><%%VALUE(photo_1)%%>" data-lightbox="acquisition-photo_1"><img src="thumbnail.php?i=<%%VALUE(photo_1)%%>&t=acquisition&f=photo_1&v=tv" class="img-thumbnail"></a></td>
