<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(id)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Call back</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(call_back)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Seller name</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(seller_name)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Phone</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(phone)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Notepad & Item(s)</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(purchase_notes)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Purchase Priority</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(priority)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">City</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(location_city)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">State</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(location_state)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Pickup date</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(pickup_date)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Pickup time</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(pickup_time)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Street address</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(street_address)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Category</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(category)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Link - Similar Online Product</label>
			<div class="col-xs-9">
				<div class="form-control-static"><a id="ref_listing-link" href="link.php?t=acquisition&f=ref_listing&i=<%%VALUE(id)%%>" target="_blank"><%%VALUE(ref_listing)%%></a><script>jQuery(function(){ var e_ref_listing = '<%%VALUE(ref_listing)%%>'; if(e_ref_listing == '' || e_ref_listing == '&nbsp;' || e_ref_listing == 'blank.gif') jQuery('#ref_listing-link').hide(); });</script></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Photo 1</label>
			<div class="col-xs-9">
				<div class="form-control-static"><script>
				var photo_1Src1<%%RND1%%>='<%%TRANSLATION(ImageFolder)%%><%%VALUE(photo_1)%%>';
				var photo_1Src2<%%RND1%%>='thumbnail.php?t=acquisition&f=photo_1&i=<%%VALUE(photo_1)%%>&v=dv'
			</script>
			<a href="#" onclick="$('photo_1Img<%%RND1%%>').src=($('photo_1Img<%%RND1%%>').src.search(/thumbnail\.php/) != -1 && photo_1Src1<%%RND1%%> != '<%%TRANSLATION(ImageFolder)%%>' ? photo_1Src1<%%RND1%%> : photo_1Src2<%%RND1%%>); return false;"><img id="photo_1Img<%%RND1%%>" src="thumbnail.php?t=acquisition&f=photo_1&i=<%%VALUE(photo_1)%%>&v=dv" class="img-thumbnail"></a></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Photo 2</label>
			<div class="col-xs-9">
				<div class="form-control-static"><script>
				var photo_2Src1<%%RND1%%>='<%%TRANSLATION(ImageFolder)%%><%%VALUE(photo_2)%%>';
				var photo_2Src2<%%RND1%%>='thumbnail.php?t=acquisition&f=photo_2&i=<%%VALUE(photo_2)%%>&v=dv'
			</script>
			<a href="#" onclick="$('photo_2Img<%%RND1%%>').src=($('photo_2Img<%%RND1%%>').src.search(/thumbnail\.php/) != -1 && photo_2Src1<%%RND1%%> != '<%%TRANSLATION(ImageFolder)%%>' ? photo_2Src1<%%RND1%%> : photo_2Src2<%%RND1%%>); return false;"><img id="photo_2Img<%%RND1%%>" src="thumbnail.php?t=acquisition&f=photo_2&i=<%%VALUE(photo_2)%%>&v=dv" class="img-thumbnail"></a></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Photo 3</label>
			<div class="col-xs-9">
				<div class="form-control-static"><script>
				var photo_3Src1<%%RND1%%>='<%%TRANSLATION(ImageFolder)%%><%%VALUE(photo_3)%%>';
				var photo_3Src2<%%RND1%%>='thumbnail.php?t=acquisition&f=photo_3&i=<%%VALUE(photo_3)%%>&v=dv'
			</script>
			<a href="#" onclick="$('photo_3Img<%%RND1%%>').src=($('photo_3Img<%%RND1%%>').src.search(/thumbnail\.php/) != -1 && photo_3Src1<%%RND1%%> != '<%%TRANSLATION(ImageFolder)%%>' ? photo_3Src1<%%RND1%%> : photo_3Src2<%%RND1%%>); return false;"><img id="photo_3Img<%%RND1%%>" src="thumbnail.php?t=acquisition&f=photo_3&i=<%%VALUE(photo_3)%%>&v=dv" class="img-thumbnail"></a></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Photo 4</label>
			<div class="col-xs-9">
				<div class="form-control-static"><script>
				var photo_4Src1<%%RND1%%>='<%%TRANSLATION(ImageFolder)%%><%%VALUE(photo_4)%%>';
				var photo_4Src2<%%RND1%%>='thumbnail.php?t=acquisition&f=photo_4&i=<%%VALUE(photo_4)%%>&v=dv'
			</script>
			<a href="#" onclick="$('photo_4Img<%%RND1%%>').src=($('photo_4Img<%%RND1%%>').src.search(/thumbnail\.php/) != -1 && photo_4Src1<%%RND1%%> != '<%%TRANSLATION(ImageFolder)%%>' ? photo_4Src1<%%RND1%%> : photo_4Src2<%%RND1%%>); return false;"><img id="photo_4Img<%%RND1%%>" src="thumbnail.php?t=acquisition&f=photo_4&i=<%%VALUE(photo_4)%%>&v=dv" class="img-thumbnail"></a></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Photo 5</label>
			<div class="col-xs-9">
				<div class="form-control-static"><script>
				var photo_5Src1<%%RND1%%>='<%%TRANSLATION(ImageFolder)%%><%%VALUE(photo_5)%%>';
				var photo_5Src2<%%RND1%%>='thumbnail.php?t=acquisition&f=photo_5&i=<%%VALUE(photo_5)%%>&v=dv'
			</script>
			<a href="#" onclick="$('photo_5Img<%%RND1%%>').src=($('photo_5Img<%%RND1%%>').src.search(/thumbnail\.php/) != -1 && photo_5Src1<%%RND1%%> != '<%%TRANSLATION(ImageFolder)%%>' ? photo_5Src1<%%RND1%%> : photo_5Src2<%%RND1%%>); return false;"><img id="photo_5Img<%%RND1%%>" src="thumbnail.php?t=acquisition&f=photo_5&i=<%%VALUE(photo_5)%%>&v=dv" class="img-thumbnail"></a></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Photo 6</label>
			<div class="col-xs-9">
				<div class="form-control-static"><script>
				var photo_6Src1<%%RND1%%>='<%%TRANSLATION(ImageFolder)%%><%%VALUE(photo_6)%%>';
				var photo_6Src2<%%RND1%%>='thumbnail.php?t=acquisition&f=photo_6&i=<%%VALUE(photo_6)%%>&v=dv'
			</script>
			<a href="#" onclick="$('photo_6Img<%%RND1%%>').src=($('photo_6Img<%%RND1%%>').src.search(/thumbnail\.php/) != -1 && photo_6Src1<%%RND1%%> != '<%%TRANSLATION(ImageFolder)%%>' ? photo_6Src1<%%RND1%%> : photo_6Src2<%%RND1%%>); return false;"><img id="photo_6Img<%%RND1%%>" src="thumbnail.php?t=acquisition&f=photo_6&i=<%%VALUE(photo_6)%%>&v=dv" class="img-thumbnail"></a></div>
			</div>
		</div>
	</fieldset>
</div>
