<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="employees-first-<%%VALUE(id)%%>" class=""><%%VALUE(first)%%></td>
		<td id="employees-last-<%%VALUE(id)%%>" class=""><%%VALUE(last)%%></td>
		<td id="employees-street_addr-<%%VALUE(id)%%>" class=""><%%VALUE(street_addr)%%></td>
		<td id="employees-city-<%%VALUE(id)%%>" class=""><%%VALUE(city)%%></td>
		<td id="employees-state-<%%VALUE(id)%%>" class=""><%%VALUE(state)%%></td>
		<td id="employees-hire_date-<%%VALUE(id)%%>" class=""><%%VALUE(hire_date)%%></td>
