<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!--
	If you wish to hide the table view header that contains the column titles,
	add the following to the expenses_init() hook (in hooks/expenses.php file)
	  $options->ShowTableHeader = 0;
-->

		<td id="expenses-category-<%%VALUE(id)%%>" class="expenses-category "><%%SELECT%%><%%VALUE(category)%%><%%ENDSELECT%%></td>
		<td id="expenses-account-<%%VALUE(id)%%>" class="expenses-account "><%%SELECT%%><%%VALUE(account)%%><%%ENDSELECT%%></td>
		<td id="expenses-price-<%%VALUE(id)%%>" class="expenses-price text-right"><%%SELECT%%><%%VALUE(price)%%><%%ENDSELECT%%></td>
		<td id="expenses-decription-<%%VALUE(id)%%>" class="expenses-decription "><%%SELECT%%><%%VALUE(decription)%%><%%ENDSELECT%%></td>
		<td id="expenses-date-<%%VALUE(id)%%>" class="expenses-date "><%%SELECT%%><%%VALUE(date)%%><%%ENDSELECT%%></td>
		<td id="expenses-from_account-<%%VALUE(id)%%>" class="expenses-from_account "><%%SELECT%%><%%VALUE(from_account)%%><%%ENDSELECT%%></td>
		<td id="expenses-account_detail-<%%VALUE(id)%%>" class="expenses-account_detail "><%%SELECT%%><%%VALUE(account_detail)%%><%%ENDSELECT%%></td>
		<td id="expenses-check_number-<%%VALUE(id)%%>" class="expenses-check_number "><%%SELECT%%><%%VALUE(check_number)%%><%%ENDSELECT%%></td>
		<td id="expenses-photo-<%%VALUE(id)%%>" class="expenses-photo "><a href="<%%TRANSLATION(ImageFolder)%%><%%VALUE(photo)%%>" data-lightbox="expenses-photo"><img src="thumbnail.php?i=<%%VALUE(photo)%%>&t=expenses&f=photo&v=tv" class="img-thumbnail"></a></td>
