<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="inventory-id-<%%VALUE(id)%%>" class="text-right"><%%VALUE(id)%%></td>
		<td id="inventory-item-<%%VALUE(id)%%>" class=""><%%VALUE(item)%%></td>
		<td id="inventory-status-<%%VALUE(id)%%>" class="text-center"><%%VALUE(status)%%></td>
		<td id="inventory-item_cost-<%%VALUE(id)%%>" class="text-right"><%%VALUE(item_cost)%%></td>
		<td id="inventory-price_high-<%%VALUE(id)%%>" class="text-right"><%%VALUE(price_high)%%></td>
		<td id="inventory-price_low-<%%VALUE(id)%%>" class="text-right"><%%VALUE(price_low)%%></td>
		<td id="inventory-item_number-<%%VALUE(id)%%>" class="text-center"><%%VALUE(item_number)%%></td>
		<td id="inventory-inventory_photo-<%%VALUE(id)%%>" class="text-center"><a href="<%%TRANSLATION(ImageFolder)%%><%%VALUE(inventory_photo)%%>" data-lightbox="inventory-inventory_photo"><img src="thumbnail.php?i=<%%VALUE(inventory_photo)%%>&t=inventory&f=inventory_photo&v=tv" class="img-thumbnail"></a></td>
		<td id="inventory-location-<%%VALUE(id)%%>" class="text-right"><%%VALUE(location)%%></td>
