<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="register_items-item_name-<%%VALUE(id)%%>" class=""><%%VALUE(item_name)%%></td>
		<td id="register_items-cost-<%%VALUE(id)%%>" class="text-center"><%%VALUE(cost)%%></td>
		<td id="register_items-ref_img-<%%VALUE(id)%%>" class=""><a href="<%%TRANSLATION(ImageFolder)%%><%%VALUE(ref_img)%%>" data-lightbox="register_items-ref_img"><img src="thumbnail.php?i=<%%VALUE(ref_img)%%>&t=inventory&f=inventory_photo&v=tv" class="img-thumbnail"></a></td>
