<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="register-client_name-<%%VALUE(id)%%>" class=""><%%VALUE(client_name)%%></td>
		<td id="register-seller-<%%VALUE(id)%%>" class=""><%%VALUE(seller)%%></td>
		<td id="register-date-<%%VALUE(id)%%>" class=""><%%VALUE(date)%%></td>
		<td id="register-phone-<%%VALUE(id)%%>" class=""><%%VALUE(phone)%%></td>
		<td id="register-email-<%%VALUE(id)%%>" class=""><a href="mailto:<%%VALUE(email)%%>" title="<%%VALUE(email)%%>" class="btn btn-default"><i class="glyphicon glyphicon-envelope text-info"></i></a></td>
