<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="shipping-register_id-<%%VALUE(id)%%>" class=""><%%VALUE(register_id)%%></td>
		<td id="shipping-client_name-<%%VALUE(id)%%>" class=""><%%VALUE(client_name)%%></td>
		<td id="shipping-phone-<%%VALUE(id)%%>" class=""><%%VALUE(phone)%%></td>
		<td id="shipping-email-<%%VALUE(id)%%>" class=""><%%VALUE(email)%%></td>
		<td id="shipping-company-<%%VALUE(id)%%>" class=""><%%VALUE(company)%%></td>
		<td id="shipping-shipping_gateway-<%%VALUE(id)%%>" class="text-center"><%%VALUE(shipping_gateway)%%></td>
		<td id="shipping-street_address-<%%VALUE(id)%%>" class=""><%%VALUE(street_address)%%></td>
		<td id="shipping-city-<%%VALUE(id)%%>" class=""><%%VALUE(city)%%></td>
		<td id="shipping-state-<%%VALUE(id)%%>" class=""><%%VALUE(state)%%></td>
		<td id="shipping-zip-<%%VALUE(id)%%>" class=""><%%VALUE(zip)%%></td>
		<td id="shipping-country-<%%VALUE(id)%%>" class=""><%%VALUE(country)%%></td>
		<td id="shipping-tracking_number-<%%VALUE(id)%%>" class="text-center"><%%VALUE(tracking_number)%%></td>
